
.corpo{
    widows: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}
.barraLateral{
    display: flex;
    flex-direction: column;
    margin-left: 127px;
    width: 240px;
    
}
.viewMapa{
    width: 100%;
    height: 50%;
}
.pontoTempo{
    height: 5%;
    
}

